---
const { text, saldo, jugades, jugadaActual, rolledNumber } = Astro.props;
---

<html lang="cat">
    <head>
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="ruleta">
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="/classes.css">
        <title>Ruleta</title>
    </head>

    <body class="contenidor beige column">
        <header>
            <nav class="header">
                <img id="header-img" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.jgMwPEyPdkszKeo58SZiEQHaEc%26pid%3DApi&f=1&ipt=2ca0ae0c5fbd59430782b7f9078876458fbe9ac4413f6ef3b6110ae1e4a57513&ipo=images">
                <div class="contenidor" style="display: flex; flex-direction: row; justify-content: center;">
                    <a class="boto-header" href="/neteja">Reiniciar joc</a>
                </div>
            </nav>
        </header>

        <h1 style="margin-top: 80px;">Joc de la ruleta</h1>
        <div class="contenidor" style="flex-direction: row;">
            <p class="margin">{text}</p>
            {
                saldo === undefined ? undefined : () => (
                <p class="margin">Saldo: {saldo}</p>
                )
            }
            {
                jugades === undefined ? undefined : () => (
                <p class="margin">Jugades: {jugades}</p>
                )
            }
            {
                jugadaActual === undefined ? undefined : () => (
                <p class="margin">Jugada Realitzada: {jugadaActual}</p>
                )
            }
            {
                rolledNumber === undefined ? undefined : () => (
                <p class="margin">Numero resultat: {rolledNumber}</p>
                )
            }
        </div>
        
        <slot />
    </body>
</html>
