---
const COOKIES_ID = "algorhythmics.ruleta";

// Jugades
const DOTZENA1 = "1ra Dotzena";
const DOTZENA2 = "2na Dotzena";
const DOTZENA3 = "3ra Dotzena";

const PRIMERA = "1ra";
const SEGONA = "2na";
const TERCERA = "3ra";

const FINS_18 = "1-18";
const FINS_36 = "19-36";

const PARELL = "Parell";
const IMPARELL = "Imparell";

const VERMELL = "Vermell";
const NEGRE = "Negre";
---

<head>
    <link rel="stylesheet" href="/ruleta.css">
</head>

<body>
    <div class="ruleta">
        <div class="upperbox">
            <div class="innerbox">
                <a href="/jugada/0"><div id="zero" class="clickable">0</a></div>
            </div>
            <div class="numberbox">
                <div class="number red clickable"><a href="/jugada/3">3</a></div>
                <div class="number black clickable"><a href="/jugada/6">6</a></div>
                <div class="number red clickable"><a href="/jugada/9">9</a></div>
                <div class="number red clickable"><a href="/jugada/12">12</a></div>
                <div class="number black clickable"><a href="/jugada/15">15</a></div>
                <div class="number red clickable"><a href="/jugada/18">18</a></div>
                <div class="number red clickable"><a href="/jugada/21">21</a></div>
                <div class="number black clickable"><a href="/jugada/24">24</a></div>
                <div class="number red clickable"><a href="/jugada/27">27</a></div>
                <div class="number red clickable"><a href="/jugada/30">30</a></div>
                <div class="number black clickable"><a href="/jugada/33">33</a></div>
                <div class="number red clickable"><a href="/jugada/36">36</a></div>
                <div class="text green clickable"><a href={"/jugada/" + TERCERA}>{TERCERA}</a></div>
                <div class="number black clickable"><a href="/jugada/2">2</a></div>
                <div class="number red clickable"><a href="/jugada/5">5</a></div>
                <div class="number black clickable"><a href="/jugada/8">8</a></div>
                <div class="number black clickable"><a href="/jugada/11">11</a></div>
                <div class="number red clickable"><a href="/jugada/14">14</a></div>
                <div class="number black clickable"><a href="/jugada/17">17</a></div>
                <div class="number black clickable"><a href="/jugada/20">20</a></div>
                <div class="number red clickable"><a href="/jugada/23">23</a></div>
                <div class="number black clickable"><a href="/jugada/26">26</a></div>
                <div class="number black clickable"><a href="/jugada/29">29</a></div>
                <div class="number red clickable"><a href="/jugada/32">32</a></div>
                <div class="number black clickable"><a href="/jugada/35">35</a></div>
                <div class="text green clickable"><a href={"/jugada/" + SEGONA}>{SEGONA}</a></div>
                <div class="number red clickable"><a href="/jugada/1">1</a></div>
                <div class="number black clickable"><a href="/jugada/4">4</a></div>
                <div class="number red clickable"><a href="/jugada/7">7</a></div>
                <div class="number black clickable"><a href="/jugada/10">10</a></div>
                <div class="number black clickable"><a href="/jugada/13">13</a></div>
                <div class="number red clickable"><a href="/jugada/16">16</a></div>
                <div class="number red clickable"><a href="/jugada/19">19</a></div>
                <div class="number black clickable"><a href="/jugada/22">22</a></div>
                <div class="number red clickable"><a href="/jugada/25">25</a></div>
                <div class="number black clickable"><a href="/jugada/28">28</a></div>
                <div class="number black clickable"><a href="/jugada/31">31</a></div>
                <div class="number red clickable"><a href="/jugada/34">34</a></div>
                <div class="text green clickable"><a href={"/jugada/" + PRIMERA}>{PRIMERA}</a></div>
            </div>
            <div class="apostes-opcions-box">
                <div class="text-apostes green ters clickable"><a href={"/jugada/" + DOTZENA1}>{DOTZENA1}</a></div>
                <div class="text-apostes green ters clickable"><a href={"/jugada/" + DOTZENA2}>{DOTZENA2}</a></div>
                <div class="text-apostes green ters clickable"><a href={"/jugada/" + DOTZENA3}>{DOTZENA3}</a></div>
                <div class="text-apostes green sisena clickable"><a href={"/jugada/" + FINS_18}>{FINS_18}</a></div>
                <div class="text-apostes green sisena clickable"><a href={"/jugada/" + PARELL}>{PARELL}</a></div>
                <div class="text-apostes red sisena clickable"><a href={"/jugada/" + VERMELL}>{VERMELL}</a></div>
                <div class="text-apostes black sisena clickable"><a href={"/jugada/" + NEGRE}>{NEGRE}</a></div>
                <div class="text-apostes green sisena clickable"><a href={"/jugada/" + IMPARELL}>{IMPARELL}</a></div>
                <div class="text-apostes green sisena clickable"><a href={"/jugada/" + FINS_36}>{FINS_36}</a></div>
            </div>
        </div>
    </div>
</body>